data
image_dataset/
generated/
checkpoints/
images_no_species
.DS_Store
*.pt
__pycache__
__pycache__/
runs/
.ipynb_checkpoints/
models/
pretrain_dataset/
samples/
matlab_dataset/
tensor_dataset/
*.mat
get_unseen_fresh_samples/csvs_a_pezzi_unix/
get_unseen_fresh_samples/new_csvs_a_pezzi/
get_unseen_fresh_samples/image_dataset/
get_unseen_fresh_samples/df_unknown_species.csv
generic_pipeline/image_dataset/
generic_pipeline/raw_data.csv